@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-theme,
.dark-theme body {
  --text: white;
  --border-color: white;
  /* icon-theme */
  --lamp-pouring: #FFC600;
  /* btn save */
  --btn-save-bg: #15803d;
  --btn-save-hover: #66d558;
  --btn-save-text: white;
  --btn-save-text-hover: black;
  /* settings */
  --btn-text-archive: #e5e7eb;
  /* btn-sub */
  --btn-sub-text: white;
  --btn-sub-background: black;
  --btn-sub-border: white 1px solid;
  --btn-sub-hover-text: black;
  --btn-sub-hover-background: white;
  /* done-icon */
  --icon-done: #24b764;
  /* btn-archive-send */
  --btn-send-archive: rgb(140, 140, 140);
  /* btn-rename-task */
  --btn-rename-color:rgb(129, 129, 224);
  --btn-rename-hover: rgb(52, 52, 185);
  /* task-border-gold */
  --card-shadow-dark: rgba(0, 0, 0, 0.6);
  --task-border-bg: #1a1a1a;
  --task-border-gradient: linear-gradient(90deg, #caa24a, #fff8dc, #caa24a, #8a6d1f, #caa24a);
  /* timer */
  --btn-timer-color: #404040;
  --btn-timer-color-hover: #a1a1a1;
  /* footer-color */
  --text-footer: #6a7282;
  --card-bg: #1e1e225f;
  --card-shadow-light: rgba(255, 255, 255, 0.04);
  --card-shadow-dark: rgba(0, 0, 0, 0.6);
}

.light-theme,
.light-theme body {
  --text: black;
  --border-color: black;
  /* icon-theme */
  --lamp-pouring: #D9CDC1;
  /* btn save */
  --btn-save-bg: rgb(0, 176, 0);
  --btn-save-hover: green; 
  --btn-save-text: black;
  --btn-save-text-hover: white;
  /* settings */
  --btn-text-archive: #1C274C;
  /* btn-sub */
  --btn-sub-text: black;
  --btn-sub-background: white;
  --btn-sub-border: black 1px solid;
  --btn-sub-hover-text: white;
  --btn-sub-hover-background: black;
  /* done-icon */
  --icon-done: black;
  /* btn-archive-send */
  --btn-send-archive: rgb(91, 89, 89);
  /* btn-rename-task */
  --btn-rename-color: rgb(52, 52, 185);
  --btn-rename-hover: rgb(101, 101, 218);
  /* task-border-gold */
  --card-shadow-dark: rgba(152, 152, 152, 0.9);
  --task-border-bg: #f5f0e6;
  --task-border-gradient: linear-gradient(90deg, #a8823a, #d9c48f, #a8823a, #6e561f, #a8823a);
   /* timer */
  --btn-timer-color: #757575;
  --btn-timer-color-hover: #404040;
  /* footer-color */
  --text-footer: #39393a;

   --card-bg: rgba(212, 211, 211, 0.404);
  --card-shadow-light: rgba(152, 152, 152, 0.9);
  --card-shadow-dark: rgba(152, 152, 152, 0.9);
}

#root > div {
  min-height: 75vh;
  width: 100%;
}

body {
  color: var(--text); 
  display: flex;
  min-width: 320px;
  margin-top: 90px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

body::before,
body::after {
  content: '';
  position: fixed;
  inset: 0;
  z-index:-1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
  transition: opacity 0.5s ease;
}

body::before {
  background-image: url("./assets/bg-black-theme.jpg");
}

body::after {
  background-image: url("./assets/bg-white-theme.jpg");
}

.dark-theme body::before { opacity: 0.15; }
.dark-theme body::after  { opacity: 0; }

.light-theme body::before { opacity: 0; }
.light-theme body::after  { opacity: 1; }

.break-words-hyphens { 
  overflow-wrap: anywhere;
  word-break: break-word;
  hyphens: auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.sekuya-regular {
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
}

.sekuya-regular:lang(uk) { 
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.btn-rename {
  color: var(--btn-rename-color);
}

.btn-rename:hover {
  color: var(--btn-rename-hover);
}
