@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-theme,
.dark-theme body {
  --text-color: white;
  /* input */
  --input-bg: #fcd34d;
  --input-text: #111827;
  --input-placeholder: #777070;
  /* subtask input */
  --subtask-bg: burlywood;
  /* btn clear */
  --btn-clear-bg: #244a6b;
  --btn-clear-text: #ffffff;
  --btn-clear-border: #3f6bbf;
  --text: white;
  --border-color: white;
  /* icon-theme */
  --lamp-pouring: #FFC600;
  /* btn save */
  --btn-save-bg: #0f5a2c;;
  --btn-save-hover: #55b448;
  --btn-save-text: #d4ffd4;
  --btn-save-text-hover: black;
  /* settings */
  --btn-text-archive: #e5e7eb;
  /* btn-sub */
  --btn-sub-text: white;
  --btn-sub-background: black;
  --btn-sub-border: white 1px solid;
  --btn-sub-hover-text: black;
  --btn-sub-hover-background: white;
  /* done-icon */
  --icon-done: #24b764;
  /* btn-archive-send */
  --btn-send-archive: rgb(140, 140, 140);
  /* btn-rename-task */
  --btn-rename-color:rgb(129, 129, 224);
  --btn-rename-hover: rgb(52, 52, 185);
  /* task-border-gold */
  --card-shadow-dark: rgba(0, 0, 0, 0.6);
  --task-border-bg: #1a1a1a;
  --task-border-gradient: linear-gradient(90deg, #caa24a, #fff8dc, #caa24a, #8a6d1f, #caa24a);
  /* timer */
  --btn-timer-color: #404040;
  --btn-timer-color-hover: #a1a1a1;
  /* footer-color */
  --text-footer: #6a7282;
  --card-bg: #1e1e225f;
  --card-shadow-light: rgba(255, 255, 255, 0.04);
  --card-shadow-dark: rgba(0, 0, 0, 0.6);
}

.light-theme,
.light-theme body {
  --text-color: black;
   /* inputs */
  --input-bg: #3a3a3a;
  --input-text: #f5f5f5;
  --input-placeholder: #aaaaaa;
  /* subtask input */
  --subtask-bg: #77746f;
  /* clear button */
  --btn-clear-bg: #366fa0;
  --btn-clear-text: #000;
  --btn-clear-border: #5a86ff;
  /* icon-theme */
  --lamp-pouring: #D9CDC1;
  /* btn save */
  --btn-save-bg: #15863e;
  --btn-save-hover: rgb(24, 101, 46);
  --btn-save-text: black;
  --btn-save-text-hover: white;
  /* settings */
  --btn-text-archive: #1C274C;
  /* btn-sub */
  --btn-sub-text: black;
  --btn-sub-background: white;
  --btn-sub-border: black 1px solid;
  --btn-sub-hover-text: white;
  --btn-sub-hover-background: black;
  /* done-icon */
  --icon-done: black;
  /* btn-archive-send */
  --btn-send-archive: rgb(91, 89, 89);
  /* btn-rename-task */
  --btn-rename-color: rgb(52, 52, 185);
  --btn-rename-hover: rgb(101, 101, 218);
  /* task-border-gold */
  --card-shadow-dark: rgba(152, 152, 152, 0.9);
  --task-border-bg: #f5f0e6;
  --task-border-gradient: linear-gradient(90deg, #a8823a, #d9c48f, #a8823a, #6e561f, #a8823a);
   /* timer */
  --btn-timer-color: #757575;
  --btn-timer-color-hover: #404040;
  /* footer-color */
  --text-footer: #39393a;
  --card-bg: rgba(212, 211, 211, 0.404);
  --card-shadow-light: rgba(152, 152, 152, 0.9);
  --card-shadow-dark: rgba(152, 152, 152, 0.9);
}

body {
  color: var(--text); 
  display: flex;
  min-width: 320px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

html::before,
html::after {
  content: '';
  position: fixed;
  inset: 0;
  z-index:-1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
  transition: opacity 0.5s ease;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
}

html::before {
  background-image: url("./assets/bg-black-theme.webp");
}

html::after {
  background-image: url("./assets/bg-white-theme.webp");
}

.dark-theme::before { opacity: 0.15; }
.dark-theme::after  { opacity: 0; }

.light-theme::before { opacity: 0; }
.light-theme::after  { opacity: 1; }

.break-words-hyphens { 
  overflow-wrap: anywhere;
  word-break: break-word;
  hyphens: auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.sekuya-regular {
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
}

.sekuya-regular:lang(uk) { 
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.btn-rename {
  color: var(--btn-rename-color);
}

.btn-rename:hover {
  color: var(--btn-rename-hover);
}
